@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  overflow-x: hidden; /* This is okay */
  overflow-y: auto;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #baccd1;
  background-image: url("https://www.transparenttextures.com/patterns/paper.png"); */
  background-color: #ffffff;
  /* background-image: url("https://www.transparenttextures.com/patterns/diamonds-are-forever.png"); */
  /* background-image: url("https://www.transparenttextures.com/patterns/dotnoise-light-grey.png"); */
  /* background-image: url("https://www.transparenttextures.com/patterns/elegant-grid.png"); */
  background-image: url("https://www.transparenttextures.com/patterns/hexellence.png");
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.nav-bar {
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/hexellence.png");
}
